<div ng-repeat="plainSchema in $ctrl.groupSchema track by $index" class="container-fluid">
	<label for="plainSchema.key" class="row">{{plainSchema.key}}
	  <span ng-if="plainSchema.mandatoryCondition === 'true'">*</span>
	</label>
    <div ng-if="!plainSchema.multivalue">
    	<div ng-switch="plainSchema.type" >
			<div ng-switch-when="String">
				<input	ng-if="plainSchema.key.indexOf('_Selected') === -1" 	
					type="text" 
					ng-model="$ctrl.user.plainAttrs[plainSchema.key].values[0]" 
					ng-required="{{plainSchema.mandatoryCondition}}" validate="true"
					ng-disabled="plainSchema.readonly" 
					name="{{plainSchema.key}}"
					class="row" /> 
				
				<select ng-if="plainSchema.key.indexOf('_Selected') != -1" 
						ng-model="$ctrl.user.plainAttrs[plainSchema.key].values[0]"
						ng-required="{{plainSchema.mandatoryCondition}}" validate="true"
						ng-disabled="plainSchema.readonly" 
						ng-options="itemList.key as itemList.content for itemList in $ctrl.availableOptions[plainSchema.key.split('_')[0]+'s']" 
						name="{{plainSchema.key}}"
						class="row" ng-dropdown ng-change="$ctrl.changeme(plainSchema.key)">
					<option ng-option value="">Please Select...</option>
				</select>
				
				<div class="phones"  ng-if="$ctrl.user.plainAttrs[plainSchema.key].values[0] == 'killbill-stripe' || $ctrl.user.plainAttrs[plainSchema.key].values[0] == 'killbill-paypal-express'">
		          	<!-- Stripe -->
					
					<form target="_blank" action="{{$ctrl.trustSrc($ctrl.user.killbillConfig.stripeURL)}}" method="post" ng-if="$ctrl.user.plainAttrs[plainSchema.key].values[0] == 'killbill-stripe'" class="row">
						
						<input type="hidden" name="name" value="{{$ctrl.user.name.values[0]}}">
					    <input type="hidden" name="email" value="{{$ctrl.user.email.values[0]}}">
					    <input type="hidden" name="externalKey" value="{{$ctrl.user.email.values[0]}}">
					    <input type="hidden" name="currency" value="{{$ctrl.user.currency.values[0]}}">
					    <input type="hidden" name="address" value="{{$ctrl.user.address.values[0]}}">
					    <input type="hidden" name="postalCode" value="{{$ctrl.user.postalCode.values[0]}}">
					    <input type="hidden" name="company" value="{{$ctrl.user.company.values[0]}}">
					    <input type="hidden" name="city" value="{{$ctrl.user.city.values[0]}}">
					    <input type="hidden" name="state" value="{{$ctrl.user.state.values[0]}}">
					    <input type="hidden" name="country" value="{{$ctrl.user.country.values[0]}}">
					    <input type="hidden" name="phone" value="{{$ctrl.user.phone.values[0]}}">
					    
					    <input type="hidden" name="package" value="{{$ctrl.user.pkgName.values[0]}}">
					    <input type="hidden" name="price" value="{{$ctrl.user.price.values[0]}}">
						
						<br/>
						<script src="https://checkout.stripe.com/v3/checkout.js" class="stripe-button" data-key="{{$ctrl.user.killbillConfig.stripePublicKey}}"></script>
					</form>
					
					<!-- Paypal -->
					<form target="_blank" action="{{$ctrl.trustSrc($ctrl.user.killbillConfig.paypalURL)}}" method="post" ng-if="$ctrl.user.plainAttrs[plainSchema.key].values[0] == 'killbill-paypal-express'" class="row">
						
						<input type="hidden" name="name" value="{{$ctrl.user.plainAttrs['name'].values[0]}}">
					    <input type="hidden" name="email" value="{{$ctrl.user.plainAttrs['email'].values[0]}}">
					    <input type="hidden" name="externalKey" value="{{$ctrl.user.plainAttrs['email'].values[0]}}">
					    <input type="hidden" name="currency" value="{{$ctrl.user.plainAttrs['currency_Selected'].values[0]}}">
					    <input type="hidden" name="address" value="{{$ctrl.user.plainAttrs['address'].values[0]}}">
					    <input type="hidden" name="postalCode" value="{{$ctrl.user.plainAttrs['postalCode'].values[0]}}">
					    <input type="hidden" name="company" value="{{$ctrl.user.plainAttrs['company'].values[0]}}">
					    <input type="hidden" name="city" value="{{$ctrl.user.plainAttrs['city'].values[0]}}">
					    <input type="hidden" name="state" value="{{$ctrl.user.plainAttrs['state'].values[0]}}">
					    <input type="hidden" name="country" value="{{$ctrl.user.plainAttrs['country'].values[0]}}">
					    <input type="hidden" name="phone" value="{{$ctrl.user.plainAttrs['phone'].values[0]}}">
					    
					    <input type="hidden" name="package" value="{{$ctrl.user.plainAttrs['basePackage_Selected'].values[0]}}">
					    <input type="hidden" name="price" value="{{$ctrl.user.plainAttrs.amount.values[0]}}">
						
						<br/>
						<input type="image" name="submit" border="0" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif"   alt="PayPal - The safer, easier way to pay online!"/>
						<img alt="" border="0" width="1" height="1" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" />
					</form>
					
			    </div>
				
			</div>
		</div>
	</div>
</div>

